
body {
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.header1 {
    background-color: rgba(47,79,79, 0.65);
    color: white;
}

.btn-secondary {
    padding-top: 0px;
    padding-bottom: 0px;
}

.card-img {
    width : 59px;
    
}

.head-content {
    background-color:transparent;
    border-style: none;
 }
.modal-dialog {
    width: 300px;
}

.modal-content {
    background-color: burlywood;
    border-radius: 12px;
}

.card-header {
    font-weight: bolder;
}

.train-name:hover, .train-dest:hover {
    cursor: pointer;
}